body{
    background-image: linear-gradient(wheat, rgb(242, 67, 96));
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}
.titulo1 img{
    width: 200px;
    font-size: 100%;
    padding-bottom: 1px;
    border-radius: 100px;
    transition: 0.3s;
}
.titulo1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.titulo1 img:hover{
    transform: scale(1.25,1.25);   
}
.titulo2{
    font-size: 200%;
    padding-bottom: 2px;
    background-size: 200%;
    background-color:pink;
    border-radius: 50px;
    text-align: center;
    color: rgb(242, 67, 96);
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
}
li{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 400px;
    margin: 10px;
    gap: 40px;
}
div.gallery{
    float: left;
}

div.desc{
    text-align: center;
    border-radius: 1px;
    text-decoration: none;
    font-size: 30px;
    color: rgb(242, 67, 96);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

div.desc:hover{
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 75px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.gallery{
    transition: transform .2s; 
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.gallery img{
    width: 200px;
    height: 200px;
}

.gallery:hover{
    transform: scale(1.25,1.25);
}


a:link{
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
a:hover{
    box-shadow: none;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
a:visited{
    color:(#0700da);
}

.menu2{
    color: rgb(245, 226, 179);
    font-size: 40px;
    text-align: left;
    color: rgb(242, 67, 96);
}
.menu2:hover{
    border-radius: 100px;
    background-color:rgb(242, 67, 96); 
    transition: .5s;
}

.menu1{
    font-size: 40px;
    text-align: left;
    color: rgb(242, 67, 96);
    
}
.menu1:hover{
    border-radius: 100px;
    background-color: rgb(255, 45, 97);   
    transition: .5s;
}

.general:hover{
    background-color: green;
}

.menus{
    display: flex;
    margin-right: 90%;
}

.h1{
    box-sizing: border-box;
}

